@font-face {
    font-family: 'Vinnytsia';
    src: url('/fonts/VinnytsiaSansReg.ttf');
}
@keyframes like {
    0% {transform: rotate(0deg); color: #000}
    100% {transform: rotate(360deg); color: #e63946}
}
@keyframes dislike {
    0% {transform: rotate(0deg); color: #e63946}
    100% {transform: rotate(-360deg); color: #000}
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    font-family: 'Vinnytsia', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}

/* containers */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex: 2;
    z-index: 4;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    flex: 7;
}
.footer {
    width: 100vw;
    flex: 1;
}

/*header */

.head-header {
    color: #000;
    font-size: 50px;
}
.uil.uil-trophy {
    color: black;
    font-size: 50px;
}

/* search */

.search-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 90px;
}
.search {
    width: 300px;
    height: 70px;
    border-radius: 10px;
    background: #f8f9fa;
    border: none;
    outline: none;
    padding: 0px 20px 0px 20px;
    font-family: 'Vinnytsia', sans-serif;
    font-size: 20px;
}
.search::placeholder {
    font-size: 20px;
    font-family: 'Vinnytsia', sans-serif;
}
.uil.uil-search {
    cursor: pointer;
    font-size: 30px;
}
.search-variants {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    margin-bottom: 20px;
}
.search-variant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
    cursor: pointer;
    user-select: none;
    font-family: 'Vinnytsia', sans-serif;
    transition: 1s;
    border-radius: 10px;
}
.search-error {
    width: 200px;
    height: 18px;
    margin-top: 20px;
    font-size: 18px;
}

/* card */

.cont-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    background: #f8f9fa;
    color: #000;
    margin-top: 30px;
}
.card-photo {
    width: 200px;
    height: 300px;
    background-image: url('/img/errphoto.png');
    background-size: cover;
    border-radius: 10px;
}

.card-right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 50px 20px 20px 20px;
    width: 330px;
    height: 260px;
    background: #ffffff;
    border-radius: 10px;
}
.desc-name {
    font-size: 30px;
}
.desc-job {
    margin: 10px 0px 10px 0px;
    font-size: 20px;
}
.card-rating {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    height: 50px;
    margin-bottom: 30px;
}
.likes {
    display: flex;
    align-items: center;
    height: 50px;
}
.rating-counter {
    font-size: 40px;
}
.uil.uil-thumbs-up {
    cursor: pointer;
    margin-left: 20px;
    font-size: 40px;
    animation: none;
}

/* change-btn */

.change-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 75px;
  border-radius: 10px;
  background: #f4f5f5;
  font-size: 25px;
  color: #000;
  transition: 1s;
  cursor: pointer;
  user-select: none;
}
.change-btn:hover {
  transition: 1s;
  background: #ffffff;
}

/* footer */

.footer {
    font-size: 15px;
    display: flex;
    align-items: end;
    padding: 0px 0px 20px 20px;
}
.foot-alert {
    color: #adb5bd;
}
.foot-mail {
    color: #adb5bd;
}
@media screen and (max-width: 1200px){
    body {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .container {
        height: 130vh;
    }
    .content {
        padding-top: 50px;
        justify-content: start;
    }
    .head {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-top: 20px;
        height: 100px;
        width: 80vw;
    }
    .head-header {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        width: 100vw;
        height: 70px;
    }
    .head-rating {
        margin-top: -20px;
    }
    .uil.uil-trophy {
        font-size: 40px;
    }
    .search {
        width: 200px;
    }
    .search-variants {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        height: 30px;
        margin-top: -20px;
    }
    .search-variant {
        width: 40px;
        height: 40px;
        margin-left: 5px;
    }
    .cont-card {
        width: 100vw;
        flex-wrap: wrap;
        background: none;
        margin-top: 50px;
    }
    .card-photo {
        width: 190px;
        height: 280px;
        margin-bottom: 20px;
    }
    .card-right {
        padding: 0;
    }
    .card-rating {
        height: 100px;
    }
    .change-btn {
        width: 200px;
    }
    .footer {
        font-size: 10px;
    }
    .change-btn:hover {
      background: #f4f5f5;
    }  
}