@font-face {
    font-family: 'Vinnytsia';
    src: url('/fonts/VinnytsiaSansReg.ttf');
}
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    font-family: 'Vinnytsia', sans-serif;
    background: #ffffff;
}
a {
    color: #000;
    text-decoration: none;
}
ul {
    list-style-type: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 10vh;
    flex: 3;
}
.header {
    font-size: 40px;
}
.header-desc {
    font-size: 20px;
}
.top-container {
    flex: 5;
}

.top-item {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 1000px;
    height: 70px;
    background: #f8f9fa;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 20px;
}
.counter {
    margin: 0px 20px 0px 30px;
    font-size: 30px;
}
.uil.uil-thumbs-up {
    margin-left: 10px;
    font-size: 30px;
}

.header-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 150px;
    font-size: 60px;
}
.likes {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

@media screen and (max-width: 1200px){
    body {
        overflow-y: scroll;
    }
    .container {
        flex-wrap: wrap;
    }
    .header-container {
        height: 20vh;
        margin-top: 30px;
    }
    .header {
        font-size: 30px;
    }
    .header-desc {
        text-align: center;
        width: 400px;
        font-size: 20px;
        margin-top: 10px;
    }
    .header-home {
        height: 100px;
    }
    .top-item {
        margin-top: 50px;
        width: 325px;
        height: 200px;
        font-size: 20px;
    }
    .top-container {
        display: flex;
        justify-content: center;
    }
    .uil.uil-thumbs-up {
        margin: 0px 10px 0px 10px;
    }

}